{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}
    <div class="row">
        <div class="col-sm-6">
            {{ message.getContent()|md2html }}
        </div>
    </div>
{% endblock %}
