{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block body %}

    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <a href="{{ path('message_new') }}">
                    {{ 'menu.contact'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
